<h1 id="Oh%20no%20I%20lost%20my%20password%20in%20Artix%20Linux!">Oh no I lost my password in Artix Linux!</h1>

<p>First of all, if you doesn&#39;t have a Live Artix ISO you fucked up, I&#39;ll not help.</p>

<h2 id="Boot%20into%20the%20Live%20environment">Boot into the Live environment</h2>

<ol start="1">
<li>Plug the USB, reboot your machine and spam all keys from F1 to F12 as a maniac, like the first time you install Linux.</li>
<li>Select the USB drive.</li>
<li>Select your locale and shit.</li>
<li>Boot into the Live environment</li>
</ol>

<h2 id="Chroot%20into%20your%20machine">Chroot into your machine</h2>

<ol start="5">
<li>Open a terminal (Konsole, XFCE Terminal, whatever).</li>
<li>Change to superuser, typing <strong><code>su</code></strong></li>
<li>Now type <strong><code>artool-chroot -a</code></strong></li>
</ol>

<h2 id="Changing%20your%20password">Changing your password</h2>

<ol start="8">
<li>Type <strong><code>passwd</code></strong></li>
<li>Now type your new [ROOT] password</li>
<li>Type <strong><code>passwd &#60;username&#62;</code></strong>    (Replace  with your actual username :) )</li>
<li>Now type your new [USER] password</li>
</ol>
